{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}

{% if error %}
<script>
    alert('{{ error }}');
</script>
{% endif %}

{% if error == "no" %}
<script>
    alert('Record save successfully');
    window.location = "{% url 'view_doctor' %}";
</script>
{% elif error == "yes" %}
<script>
    alert('Invalid login, try again');
</script>
{% endif %}

<div class="container">
    <h2 class="text-center">Add Doctor</h2>
    <form method="post">
        {% csrf_token %}
        <label>Doctor Name</label>
        <input type="text" class="form-control" name="name"/>
        <label>Phone</label>
        <input type="text" class="form-control" name="phone"/>
        <label>Specialization</label>
        <input type="text" class="form-control" name="specialization"/>
        <label>Email</label>
        <input type="text" class="form-control" name="email"/>
        <br>
        <br>


        <input type="submit" value="submit" class="form-control btn btn-primary" />
    </form>

</div>

{% endblock content %}
