{% include 'base.html' %}
{% load static %}


{% block content %}
<div>
    <h1 class = "text-center">View Patient</h1>
    <table id="example"  class="table table-hover">
        <thead>
            <tr>
                <th>DoctorID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.age }}</td> 
                    <td>{{ i.gender }}</td> 
                    <td>{{ i.phone }}</td>
                    <td>{{ i.email }}</td> 
                    <td>{{ i.address }}</td>  <!-- Corrected the field name to 'specialization' -->
                    <td> 
                        <a href="{% url 'Delete_Patient' pid=i.id %}"

                           onclick="return confirm('Are you sure you want to delete this Patient?')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
{% include 'footer.html' %}
